.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(28px);
    }

    &::before {
        content: url("../images/Icons/separator.svg");
        position: absolute;
        top: rem(55px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}

