.form {
    display: flex;
    position: relative;
    z-index: 1;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);

    @include tablets {
        margin-bottom: rem(16px);
    }

    &--margin-bottom__decrease {
        @include tablets {
            margin-bottom: rem(16px);
        }
    }

    &--margin-bottom__rise {

        @include tablets {
            margin-bottom: 22px;
        }
    }

    &--margin-bottom__hight {

        @include phones {
            margin-bottom: rem(27px);
        }
    }
}


.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border-radius: rem(4px);
    padding: rem(16px) rem(11px);
    border: solid rem(3px) transparent;

    &--textarea {
        height: rem(152px);
        resize: none;
        margin-bottom: rem(18px);

        @include tablets {
            height: rem(84px);
            margin-bottom: 0;
        }
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }

    @include tablets {
        padding: rem(5px) 0;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        margin-bottom: rem(24px);
    }

    &--margin-bottom__increase {
        margin-bottom: rem(46px);

        @include tablets {
            margin-bottom: rem(39px);
        }

        @include phones {
            margin-bottom: rem(55px);
        }
    }

    
    @include phones  {
        justify-content: center;
    }

}

.form__controls-radio {
    margin-right: rem(12px);

    @include tablets {
    margin-right: rem(30px);

    }
}


.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}

.input-error {
    border-color: $yellow;
}