.modal {

    &.error-modal {
        .modal__content-text {
            color: red;
        }
    }

    &.fancybox-content {
        padding: 0 !important;
    }

    .fancybox-button {
        display: none;
    }

    background: #313131 !important;
    display: none;
}

.modal__container {
    margin: auto;
    padding: rem(35px) rem(60px) rem(20px);
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-bottom: rem(18px);
}

.modal__content-text {
    margin-bottom: rem(25px);
    white-space: nowrap;
}

.modal__content-btn {
    background: $yellow;
}