.reviews__display {
    background: #F8FAF9;
    padding: rem(42px) rem(142px) rem(42px) rem(42px);
    margin-bottom: rem(15px);

    @include tablets {
        padding: rem(42px) rem(42px) rem(42px) rem(42px);
    }

    @include phones {
        padding: rem(42px) rem(42px) 0 rem(42px);
        margin-bottom: 3.833333rem;
    }
}

.reviews__list {
    position: relative;
    min-height: rem(280px);
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
}

.visible {
    position: static;
    opacity: 1;
    pointer-events: unset;
}

.reviews__item-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__avatar {
    width: rem(254px);
    height: rem(262px);

    @include tablets {
        width: rem(137px);
        height: rem(138px);
        margin: rem(19px) 0 rem(9px) 0;
    };
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);
    padding-top: rem(24px);
}

.reviews__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(12px);
    color: #292929;

    @include tablets {
    margin-bottom: rem(14px);

    }
}

.reviews__text {
    margin-bottom: rem(25px);
    line-height: rem(22px);

    @include tablets {
        margin-bottom: 0;
    }

}

.reviews__name {
    color: #292929;
    font-weight: bold;
    
    @include tablets {
        margin-bottom: rem(23px);
    }
    @include phones {
        margin-bottom: 0;
    }
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    position: relative;
}

.reviews__switcher-item {

}